<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索关键词加筛选条件的综合案例</title>
    <style>
        .active-gender {
            background-color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="keyword">
        <button :class="activeClass('全部')" @click="handleGenderClick('全部')">全部</button>
        <button :class="activeClass('男')" @click="handleGenderClick('男')">男</button>
        <button :class="activeClass('女')" @click="handleGenderClick('女')">女</button>
        <ul>
            <li v-for="item in filterList" :key="item.id">{{ item.name }}, {{ item.gender }}, {{ item.age }}</li>
        </ul>
    </div>
    <script src="./vue.global.js"></script>
    <script>
        let vm = Vue.createApp({
            data() {
                return {
                    list: [],
                    keyword: '',
                    gender: '全部'
                }
            },
            created() {
                fetch('./data.json')
                    .then(res => res.json())
                    .then(data => {
                        this.list = data;
                    })
            },
            computed: {
                filterList() {
                    return this.list
                                .filter(item => item.name.includes(this.keyword))
                                .filter(item => this.gender === '全部' || item.gender === this.gender);
                }
            },
            methods: {
                handleGenderClick(gender) {
                    this.gender = gender;
                },
                activeClass(gender) {
                    return { 'active-gender': gender === this.gender };
                }
            }
        });
        vm.mount('#app');
    </script>
</body>
</html>